
body{
    background-color: #78808f;
}



                    /* Таблицы*/
table{
   margin: 30px 50px;
    display: inline-block;
    color:white;
    background-color: #3f444d;
    height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px 0px 5px 5px;
}
/*Ячейки*/
th{
    width:200px;
    height: 30px;
    font-size: 20px;
    background-color:  #2a2f33;
    border-radius: 5px 0px 0px 0px;
    border-right: 1px solid #4d5154;


}
td{
    padding: 5px;
   width:200px;
    height: 30px;
    border: 1px solid #4d5154;
    text-align: left;
}
tr:hover{
    background-color: #525863
}
.CellCount{
    width: 211px;
    border-radius: 0px 5px 0px 0px;
    border-right: 0px;
}

.line1{
    margin-top: -30px;
    position: absolute;
}
.cellQuantity{
    font-size: 20px;
}

/*Прокрутка таблицы*/
table::-webkit-scrollbar{
    width: 10px;
    background-color: #2a2f33;

}
table::-webkit-scrollbar-thumb{
    background-color:#3f444d;
}

#Tables{
    text-align: center;
}

                  /*Формы с записями*/
.badge{
    background-color: #2a2f33;
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    border: 2px double #1c1f21;

}

                    /*Кнопка назад*/
#buttonBack{
    background-color: #3f444d;
    color: white;
    text-decoration-line: none;
    font-size: 20px;
    padding: 17px;
    border-radius: 10px;
    font-weight: normal;
    float: right;
    margin-right: 20px;
    border:2px double #2a2f33;
    width: 90px;
   /* margin-bottom: 20px;
    margin-top: 10px;*/
}
#buttonBack:hover{
    background-color: #525863;
    font-weight: bold;
    width: 90px;
    padding-left: 14px;
}
#buttonBack:active{
    background-color:#2a2f33 ;
}

