<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>



<form  class="mainForm" th:method="POST" th:action="@{/departures/uploadExcel}" enctype="multipart/form-data">
    <div id="labelUploadExcel" class="label">Загрузите Excel файл с отправлениями
    <br>
        <span class="attention">Загрузка может занять до 10 минут!</span>
    </div>
    <br>

    <label class="labelUp label">
        <i class="material-icons">attach_file</i>
        <span class="title">Добавить файл</span>
        <input id="excelFile" name="excelFile" type="file">
    </label>

<br>
    <input class ="buttonBack buttInf" type="submit" value="Отправить">
</form>

</body>
</html>